//- scripts etc
<script src="app/lib/angular/angular.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/services.js"></script>
<script src="app/js/index/indexcontroller.js"></script>
<script src="app/js/common/filters.js"></script>
<script src="app/js/common/directives.js"></script>